*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#f7f4ef;

    min-height:100vh;

    font-family:
    "Adobe Devanagari",
    "Noto Serif Devanagari",
    "Noto Serif",
    serif;
}

/* HEADER */

header{

    text-align:center;

    padding-top:50px;
}

.title-box{

    width:1350px;

    max-width:92%;

    margin:auto;

    background:#73001f;

    border:3px solid #d8c08d;

    border-radius:34px;

    padding:28px 40px;

    box-shadow:0 12px 28px rgba(0,0,0,0.15);
}

.title-sanskrit{

    color:#f8ead0;

    font-size:5.3rem;

    font-weight:700;

    line-height:1.05;
}

.title-iast{

    color:#f8ead0;

    margin-top:10px;

    font-size:1.5rem;

    font-style:italic;
}

/* CARDS */

.cards-container{

    width:100%;

    max-width:1600px;

    margin:85px auto;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:36px;

    padding:0 25px;

    flex-wrap:nowrap;
}

.card{

    width:390px;

    height:300px;

    background:#faf8f4;

    border:3px solid #d8c08d;

    border-radius:24px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    cursor:pointer;

    transition:all 0.3s ease;

    flex-shrink:0;
}

.card:hover{

    transform:translateY(-8px);

    border-color:#b89a66;

    box-shadow:0 12px 24px rgba(0,0,0,0.12);
}

.card h2{

    color:#8b0000;

    font-size:2.8rem;

    margin-bottom:30px;

    text-align:center;

    line-height:1.2;
}

.card p{

    color:#6e6e6e;

    font-size:1.7rem;

    font-style:italic;
}

/* LAPTOPS */

@media(max-width:1400px){

.cards-container{

    gap:20px;
}

.card{

    width:350px;

    height:270px;
}

.card h2{

    font-size:2.5rem;
}

.card p{

    font-size:1.5rem;
}

}

/* TABLETS */

@media(max-width:1200px){

.cards-container{

    flex-wrap:wrap;
}

}

/* MOBILE */

@media(max-width:768px){

.title-sanskrit{

    font-size:3rem;
}

.title-iast{

    font-size:1rem;
}

.card{

    width:90%;
}

}
